<?xml version="1.0"?>
<config>
    <modules>
        <ZigZag_Double>
            <version>1.2.2</version>
        </ZigZag_Double>
    </modules>
    <global>
        <models>
            <zigzagdouble>
                <class>ZigZag_Double_Model</class>
            </zigzagdouble>
        </models>
    </global>
    <frontend>
        <events>
            <sales_order_place_after>
                <observers>
                    <zigzag_sales_order_place_after_double>
                        <class>zigzagdouble/observer_salesorderplaceafter</class>
                        <method>shipOrder</method>
                    </zigzag_sales_order_place_after_double>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <default>
        <carriers>
            <zigzagdouble>
                <active>0</active>
                <title>ZigZag</title>
                <name>Double</name>
                <shipping_cost>10</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <auto_shipment>0</auto_shipment>
                <order_statuses>processing</order_statuses>
                <sort_order>15</sort_order>
                <model>zigzagdouble/carrier_double</model>
            </zigzagdouble>
        </carriers>
    </default>
</config>