<?xml version="1.0"?>
<config>
    <modules>
        <Zigzag_Regular>
            <version>1.1.2</version>
        </Zigzag_Regular>
    </modules>
    <global>
        <models>
            <zigzagregular>
                <class>ZigZag_Regular_Model</class>
            </zigzagregular>
        </models>
    </global>
    <frontend>
        <events>
            <sales_order_place_after>
                <observers>
                    <zigzag_sales_order_place_after_regular>
                        <class>zigzagregular/observer_salesorderplaceafter</class>
                        <method>shipOrder</method>
                    </zigzag_sales_order_place_after_regular>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <default>
        <carriers>
            <zigzagregular>
                <active>0</active>
                <title>ZigZag</title>
                <name>Regular</name>
                <shipping_cost>10</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <auto_shipment>0</auto_shipment>
                <order_statuses>processing</order_statuses>
                <sort_order>15</sort_order>
                <model>zigzagregular/carrier_regular</model>
            </zigzagregular>
        </carriers>
    </default>
</config>